.title-text {
  height: 27px;
  font-size: 24px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: #ffffff;
  line-height: 28px;
  padding-bottom: 76px;
}
.badges {
  padding: 0px 13px 20px 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
