.card-wrapper {
  border-radius: 10px;
  background: #463792;
  min-width: 260px;
  min-height: 350px;
  padding: 30px 15px ;
  margin-bottom: 50px;
}
.card{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title {
  margin-top: 17px;
  font-size: 18px;
  color: #ffffff;
}
.card-number {
  font-size: 16px;
  color: #24bff2;
}
.card-content {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 12px;
  color: #ffffff;
}
.card-img-bg{
  background: center / cover url('../../../assets/main/patrick3.png') no-repeat;
}
/* .card-bg {
    width:75%;
    padding-bottom: 75%;
    border: 1px solid red;
    border-radius: 50%;
    background: #241065;
} */
/* .card-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} */
