.card-wrapper{
    background: #463792;
    border-radius: 10px;
    min-height: 300px;
    /* min-width: 250px; */
    width: 200px;

    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 15px 12px 30px 12px;
    /* margin: 10px 20px 30px 20px; */
    margin-bottom: 20px;
}
.card-title{
    font-size: 18px;
    color: #FFFFFF;
}
.card-number{
    font-size: 16px;
    color: #24BFF2;
}
.card-content{
    font-size: 12px;
    color: #FFFFFF;
}

/* .card-bg {
    width:75%;
    padding-bottom: 75%;
    border: 1px solid red;
    border-radius: 50%;
    background: #241065;
} */
/* .card-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} */