.home-bg {
  background: border-box center / contain url('../assets/home/bg.png') no-repeat;
}
.avtive-work {
  background: url('../assets/home/active-work.png') no-repeat;
  background-size: 100% 100%;
}
.work-flow {
  background: url('../assets/home/work-flow.png') no-repeat;
  background-size: 100% 100%;
}
.architecture {
  background: border-box center / contain url('../assets/home/Architecture.png') no-repeat;
}
.DAOn {
  background: url('../assets/home/Architecture.png') no-repeat;
  background-size: 100% 100%;
}
.work {
  background: url('../assets/home/Architecture.png') no-repeat;
  background-size: 100% 100%;
}
.ant-collapse {
  width: 100% !important;
}
.ant-collapse-header {
  width: 100% !important;
  color: white !important;
}
.ant-collapse-content-box {
  color: #c9ccd1 !important;
  text-align: left;
}
hr {
  color: rgba(255, 255, 255, 0.1);
}

.featuresList-item {
  width: 208px;
  min-height: 240px;
  padding: 34px 22px;
}
