.home-bg {
  background: border-box center / contain url('../assets/home/bg.png') no-repeat;
}
.avtive-work {
  background: border-box center / contain url('../assets/home/active-work.png') no-repeat;
}
.work-flow {
  background: border-box center / contain url('../assets/home/work-flow.png') no-repeat;
}
.architecture {
  background: border-box center / contain url('../assets/home/architecture.png') no-repeat;
}
.DAOn {
  background: border-box center / contain url('../assets/home/Architecture.png') no-repeat;
}
.work {
  background: border-box center / contain url('../assets/home/Architecture.png') no-repeat;
}
.reputation {
  background: border-box center / contain url('../assets/home/reputation.png') no-repeat;
}
.ant-collapse {
  width: 100% !important;
}
.ant-collapse-header {
  width: 100% !important;
  color: white !important;
}
.ant-collapse-content-box {
  color: #c9ccd1 !important;
  text-align: left;
}
hr {
  color: rgba(255, 255, 255, 0.1);
}

.featuresList-item {
  width: 208px;
  min-height: 240px;
  padding: 34px 22px;
}
.daos-address{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1030px;
  height: 50px;
  line-height: 50px;
  border-radius: 14px;
  border: 1px solid #AAE563;
  text-align: center;
  color: #AAE563;
  cursor: pointer;
}
.filter{
  
  filter: blur(2px);
}