.home-bg {
  background: top 80px left 6rem / cover url('../assets/home/bg-2.png') no-repeat;
}

.creation {
  position: absolute;
  top: 36%;
  right: 16%;
}
.japandao {
  position: absolute;
  bottom: 20%;
  right: 54%;
  transform: rotate(23deg);
}
.nnsdao {
  position: absolute;
  top: 46%;
  right: 61%;
}
.avtive-work {
  background: center / cover url('../assets/home/active-work.png') no-repeat;
}
.work-flow {
  background: center / cover url('../assets/home/work-flow.png') no-repeat;
}
.architecture {
  background: center / contain url('../assets/home/architecture.png') no-repeat;
}
.daon {
  background: center / contain url('../assets/home/daon.png') no-repeat;
}
.work {
  background: center / contain url('../assets/home/work.png') no-repeat;
}
.daos {
  background: center / contain url('../assets/home/daos.png') no-repeat;
}
.reputation {
  background: center / cover url('../assets/home/reputation.png') no-repeat;
}
.ant-collapse {
  width: 100% !important;
}
.ant-collapse-header {
  width: 100% !important;
  color: white !important;
}
.ant-collapse-content-box {
  color: #c9ccd1 !important;
  text-align: left;
}
hr {
  color: rgba(255, 255, 255, 0.1);
}
.find-text-info {
  font-size: 14px;
}
.find-text-title {
  font-size: 28px;
}
.find-lets-go {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 12px 26px;
  position: absolute;
  top: 3px;
  right: 4px;
  cursor: pointer;
  background: linear-gradient(90deg, #d130b3 0%, #3a4fe7 100%);
  border-radius: 8px;
}
.featuresList-item {
  width: 332px;
  height: 383px;
  min-height: 240px;
  padding: 55px 55px 0 30px;
}
.daos-address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1035px;
  height: 50px;
  line-height: 50px;
  border-radius: 14px;
  border: 1px solid #aae563;
  text-align: center;
  color: #aae563;
  cursor: pointer;
}
.filter {
  filter: blur(2px) !important;
}
.mainBorder {
  border: 1px solid #282828;
}
