.wrapper {
  margin: 34px 50px 20px 50px;
}
.my-wallet {
  font-size: 24px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 32px;
}
.balance-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.base-balance {
  width: 25%;
  min-height: 180px;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 40px;
  margin: -20px -20px;
}
.balance-text {
  font-size: 22px;
}
.balance-number {
  font-size: 41px;
  color: #fff;
}

.total {
  background: url('../../../assets/main/total.png') no-repeat;
  background-size: 100% 100%;
}
.balance {
  background: url('../../../assets/main/balance.png') no-repeat;
  background-size: 100% 100%;
}
.ndp {
  background: url('../../../assets/main/ndp.png') no-repeat;
  background-size: 100% 100%;
}
.nft {
  background: url('../../../assets/main/nft.png') no-repeat;
  background-size: 100% 100%;
}
.token-table {
  width: 100%;
  height: auto;
  border-radius: 15px;
  background: #463792;
  padding: 30px 50px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.token-table-nfts {
  background: #251f5e;
  padding: 30px 50px 0px 0px;
}
.table-button {
  width: 72px;
  font-size: 24px;
  color: #ffffff;
  margin-right: 3rem;
  cursor: pointer;
}
.table-button2 {
  color: #736fa0;
}

.table-token {
  width: 42%;
  text-align: left;
  color: #927bfa;
}
.table-balance {
  width: 26%;
  text-align: left;
  color: #927bfa;
}
.table-price {
  width: 20%;
  text-align: left;
  color: #927bfa;
}
.table-action {
  flex: 1;
  text-align: left;
  color: #927bfa;
}

.table-content-button {
  color: #29a6e0;
  border: 1px solid #29a6e0;
  border-radius: 8px;
  font-size: 16px;
  padding: 2px 15px;
}
