.wrapper {
  margin: 34px 50px 20px 50px;
  position: relative;
}
.my-wallet {
  font-size: 24px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: #ffffff;
  line-height: 28px;
  /* margin-bottom: 32px; */
}
.balance-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
  margin: 40px 0;
}

.base-balance {
  width: 25%;
  min-width: 270px;
  min-height: 180px;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 40px;
  margin: -20px -20px;
}
.balance-text {
  font-size: 22px;
}
.balance-number {
  font-size: 41px;
  color: #fff;
}

.total {
  background: url('../../../assets/main/total.png') no-repeat;
  background-size: 100% 100%;
}
.balance {
  background: url('../../../assets/main/balance.png') no-repeat;
  background-size: 100% 100%;
}
.ndp {
  background: url('../../../assets/main/ndp.png') no-repeat;
  background-size: 100% 100%;
}
.nft {
  background: url('../../../assets/main/nft.png') no-repeat;
  background-size: 100% 100%;
}
.token-table {
  width: 100%;
  height: auto;
  border-radius: 15px;
  background: #5048b2;
  padding: 30px 50px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.opacity {
  opacity: 0.66;
}
.token-table-nfts {
  background: #251f5e;
  padding: 30px 50px 0px 0px;
}
.table-button {
  width: 72px;
  font-size: 24px;
  color: #ffffff;
  margin-right: 3rem;
  cursor: pointer;
}
.table-button2 {
  color: #736fa0;
}

.table-token {
  width: 33%;
  text-align: left;
  color: #927bfa;
}
.table-balance {
  width: 25%;
  text-align: left;
  color: #927bfa;
}
.table-price {
  width: 18%;
  text-align: left;
  color: #927bfa;
  position: relative;
}
.table-price-filter {
  width: 41px;
  height: 12px;
  background: #50e3c2;
  filter: blur(9px);
  margin-left: -2px;
}
.table-price-text {
  position: absolute;
  top: center;
  left: 1px;
  width: 86px;
  height: 17px;
  font-size: 16px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: #50e3c2;
  line-height: 18px;
}

.table-action {
  flex: 1;
  text-align: left;
  color: #927bfa;
}
.dividing-line {
  width: 100%;
  height: 1px;
  background: #251f5e;
  margin-top: 13px;
}

.table-content-button {
  color: #29a6e0;
  border: 1px solid #29a6e0;
  border-radius: 8px;
  font-size: 13px;
  padding: 0px 18px;
}

.airdrops {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.airdrops-wrapper {
  width: 850px;
  border-radius: 14px;
  padding: 50px;
  color: white;
  background: #0c0633;
  font-size: 16px;
}
.airdrops-content {
}
.airdrops-ready {
  font-size: 24px;
  margin-bottom: 20px;
}
.airdrops-content-item {
  height: 72px;
  border-bottom: 1px solid #aeaeac;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.airdrops-address {
}
.airdrops-email {
}
.airdrops-code {
}
.airdrops-footer {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.airdrops-cancel {
  width: 200px;
  height: 40px;
  background: #bbb;
  border-radius: 8px;
  cursor: pointer;
}
.airdrops-claim {
  width: 200px;
  height: 40px;
  background: #fa6800;
  border-radius: 8px;
  cursor: pointer;
}

.airdrops-wrapper input {
  border: none;
  border-radius: 8px;
  line-height: 50px;
  width: 300px;
  background: #251f5e;
  padding-left: 15px;
}
