.product-wrapper {
  width: 100%;
  background: #0C0633;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.product-bg{
  width: 100%;
  background: url('../../assets/product/bg.png') no-repeat;
  background-size: 100% 100%;
}
.product {
  margin: 0 auto;
  width: 66.66%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-title {
  margin-top: 200px;
  margin-bottom: 160px;
  width: 100%;
  text-align: center;
  font-size: 68px;
  color: #ffffff;
  line-height: 78px;
  letter-spacing: 1px;
}
.product-info {
  text-align: left;
  color: #fff;
  font-size: 18px;
}
.product-subheading {
  font-size: 42px;
  color: #7aa9ff;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.product-item {
  width: 66.66vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #24bff2;
  margin-bottom: 178px;
}

.product-progress {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
